html,
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: white;
}

@font-face {
    font-family: "Quicksand-Medium";
    src: url("/fonts/Quicksand-Medium.ttf");
}

@font-face {
    font-family: "Quicksand-Bold";
    src: url("/fonts/Quicksand-Bold.ttf");
}

@font-face {
    font-family: "Quicksand-Light";
    src: url("/fonts/Quicksand-Light.ttf");
}

@font-face {
    font-family: "Quicksand-Regular";
    src: url("/fonts/Quicksand-Regular.ttf");
}

.settings-button {
    top: 0px;
    right: 0px;
    width: auto;
    height: auto;
    position: absolute;
    border: none;
    font-family: "Quicksand-Medium";
    font-size: 20px;
    background-color: white;
    color: #4a4a4a;
    padding: 16px 16px;
    cursor: pointer;
}

.title {
    color: #4a4a4a;
    font-size: 18px;
    text-align: center;
    font-family: "Quicksand-Medium";
}

.main-div {
    width: 100%;
    height: auto;
    bottom: 0px;
    background: white;
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: 36px 36px 36px 42px;
    grid-gap: 26px;
    position: absolute;
}

.line-div {
    grid-column-start: 2;
    grid-column-end: 2;
}


/* INPUT RIGHT DATA */

.input-right-data-div {
    border: 2px solid #50e3c2;
    border-radius: 4px;
    width: 100%;
    height: auto;
    background: white;
    display: grid;
    grid-template-columns: 9fr 1fr;
    grid-template-rows: 36px;
    grid-gap: 0px;
    position: absolute;
    grid-column-start: 2;
    grid-column-end: 3;
}

.input-right-data {
    padding-left: 12px;
    border-color: transparent;
    font-family: "Quicksand-Medium";
    size: 12px;
    background-color: transparent;
    color: #c2c2c2;
    grid-column-start: 1;
    grid-column-end: 1;
}

.choose-right-data-button {
    border-color: transparent;
    border-radius: 0px;
    color: white;
    background-color: #50e3c2;
    grid-column-start: 2;
    grid-column-end: 2;
}


/* INPUT WRONG DATA */

.input-wrong-data-div {
    border: 2px solid #f5a623;
    border-radius: 4px;
    width: 100%;
    height: auto;
    background: white;
    display: grid;
    grid-template-columns: 9fr 1fr;
    grid-template-rows: 36px;
    grid-gap: 0px;
    position: absolute;
    grid-column-start: 2;
    grid-column-end: 2;
}

.input-wrong-data {
    padding-left: 12px;
    border-color: transparent;
    font-family: "Quicksand-Medium";
    size: 12px;
    background-color: transparent;
    color: #c2c2c2;
    grid-column-start: 1;
    grid-column-end: 1;
}

.choose-wrong-data-button {
    border-color: transparent;
    border-radius: 0px;
    color: white;
    background-color: #f5a623;
    grid-column-start: 2;
    grid-column-end: 2;
}

.process-button {
    margin-left: 0px;
    margin-right: 0px;
    border-radius: 4px;
    border-style: solid;
    border-color: #50e3c2;
    font-family: "Quicksand-Medium";
    size: 14px;
    background-color: #50e3c2;
    color: white;
    grid-column-start: 2;
    grid-column-end: 3;
    width: 100%;
    height: 100%;
}


/* PROGRESS BAR */

.progress-bar-div {
    bottom: 18px;
    width: 100%;
    height: 20px;
    background: white;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 16px;
    grid-gap: 0px;
    grid-column-start: 2;
    grid-column-end: 3;
}

.container {
    background-color: rgb(241, 241, 241);
    width: 100%;
    border-radius: 15px;
    grid-column-start: 1;
    grid-column-end: 1;
}

.progress-bar {
    margin-left: 0%;
    background-color: #50e3c2;
    color: white;
    text-align: center;
    font-size: 12px;
    font-family: "Quicksand-Medium";
    border-radius: 15px;
    grid-column-start: 1;
    grid-column-end: 1;
    transition: 0.5s;
}

.progress {
    width: 0%;
    transition: 0.5s;
}

/* CSS EFFECTS */

.settings-button:hover {
    color: #50e3c2;
}

.input-right-data:hover {
    background: #f1f1f1;
}

.input-wrong-data:hover {
    background: #f1f1f1;
}

.input-right-data:active {
    border-color: transparent;
}

.process-button:active {
    position: relative;
    top: 1px;
}

::-ms-browse {
    background: black;
    color: red;
    padding: 1em;
}


/* MODAL STYLE */

.modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    padding-top: 25px;
    /* Location of the box */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
}

/* Modal Content */

.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 12px;
    border-width: 0px;
    border-radius: 12px;
    border-style: solid;
    border-color: #50e3c2;
    width: 80%;
    height: 65%;
    display: grid;
    grid-template-columns: 95% 5%;
    grid-template-rows: 32px auto;
    grid-gap: 12px 0px;
}

.modal-title{
    color: #4a4a4a;
    font-size: 16px;
    text-align: left;
    font-family: "Quicksand-Medium";
    grid-column-start: 1;
    grid-column-end: 2;
    align-items: flex-start;
    display: flex;
    justify-content: start;
    align-items: center;
}

.close {
    color: #4a4a4a;
    font-size: 32px;
    font-weight: bold;
    grid-column-start: 2;
    grid-column-end: 2;
    text-align: center;
    align-items: flex-end;
    display: flex;
    justify-content: center;
    align-items: center;
}

.close:hover,
.close:focus {
    color: #50e3c2;
    text-decoration: none;
    cursor: pointer;
}

.check-box-div {
    overflow: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 24px;
    grid-gap: 0px;
    grid-column-start: 1;
    grid-column-end: 3;
}

.divBox{
    display: grid;
    grid-template-columns: 1fr 9fr;
    grid-template-rows: 24px;
    grid-gap: 0px;
}

.checkBox{
    text-align: center;
}

.labelCheckBox {
    padding-left: 4px;
    color: #4a4a4a;
    font-family: "Quicksand-Medium";
    font-size: 12px;
}

/* LOADER STYLE AND ANIMATION */

/* Center the loader */
#loader {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 1;
  width: 42px;
  height: 42px;
  margin: auto;
  border: 10px solid #f3f3f3;
  border-radius: 50%;
  border-top: 10px solid #3498db;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
  grid-column-start: 1;
  grid-column-end: 1;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/* Add animation to "page content" */
.animate-bottom {
  position: relative;
  -webkit-animation-name: animatebottom;
  -webkit-animation-duration: 1s;
  animation-name: animatebottom;
  animation-duration: 1s
}

@-webkit-keyframes animatebottom {
  from { bottom:-100px; opacity:0 } 
  to { bottom:0px; opacity:1 }
}

@keyframes animatebottom { 
  from{ bottom:-100px; opacity:0 } 
  to{ bottom:0; opacity:1 }
}

#myDiv {
  display: none;
  text-align: center;
}

.form-group{
    
    grid-column-start: 2;
    grid-column-end: 3;
}